{include file="Admin/include/header.html"}
{include file="Admin/include/sidebar.html"}
        <div class="container maincontent">
            <div class="row">
                <form action="{U('Admin/goods/action/savegoods/page/'|cat:{$page})}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <a href="javascript:history.back(-1);" class="btn btn-default" style="margin-bottom:10px" ><span class="glyphicon glyphicon-menu-left"></span> 返回</a>
                            <table class="table table-striped table-bordered table-condensed table-hover">
                                <tbody>
                                    <tr>
                                        <th>商品名称：</th>
                                        <td>
                                            <input class="normal" name="name" id="formGroupInputName" type="text" value="" required/>
                                            <label>* 商品名称（必填）</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品描述：</th>
                                        <td>
                                            <textarea name="desc" id="formGroupInputDesc" rows="5" cols="30"></textarea>
                                            <label></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品分类：</th>
                                        <td>
                                            <select name="class" id="formGroupInputClass" class="normal">
                                            {foreach from=$classifyList item=v}
                                                <option value='{$v.id}'>{$v.name}</option>
                                            {/foreach}
                                            </select>
                                            <label><a href="{U('admin/classify')}" target="_blank">添加分类</a></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品单价：</th>
                                        <td>
                                            <input name="price" id="formGroupInputPrice" class="normal" type="text" value=""  required/>
                                            <label></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品积分：</th>
                                        <td>
                                            <input name="point" id="formGroupInputPoint" class="normal" type="Number" value="0"  required/>
                                            <label>（用户购买商品后所获得的积分）</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品库存：</th>
                                        <td>
                                            <input name="stock" id="formGroupInputStock" class="normal" type="Number" value="0"  required/>
                                            <label></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品封面：</th>
                                        <td>
                                            <input type="file" name="file" id="formGroupInputImage"  required/>
                                            <label></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>是否新品：</th>
                                        <td>
                                            <select name="isnew" id="formGroupInputIsNew" class="normal" name="group_id">
                                                <option value='0'selected="selected">否</option>
                                                <option value='1'>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>是否热销：</th>
                                        <td>
                                            <select name="ishot" id="formGroupInputIsHot" class="normal" name="group_id">
                                                <option value='0'selected="selected">否</option>
                                                <option value='1'>是</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>状态：</th>
                                        <td>
                                            <select name="status" id="formGroupInputStatus" class="normal" name="group_id">
                                                <option value='0'>下架</option>
                                                <option value='1'selected="selected">上架</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>商品内容：</th>
                                        <td>
                                            <!-- 加载编辑器的容器 -->
                                            <script id="formGroupInputContent" name="content" type="text/plain">
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="submit" class="btn btn-default" id="btn-save">添加商品</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 配置文件 -->
        <script type="text/javascript" src="{TPL_PATH}/Admin/ueditor/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="{TPL_PATH}/Admin/ueditor/ueditor.all.js"></script>
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            var ue = UE.getEditor('formGroupInputContent');
        </script>
{include file="Admin/include/footer.html"}