{include file='Index/include/header.html'}
        <div class="main">
            <div class="imgcon">
                <img src="{TPL_PATH}/Index/images/product/t010be6ade4d425fcd5.jpg" alt="">
                <img src="{TPL_PATH}/Index/images/product/t01839bb35fe41c8b33.jpg" alt="">
                <img src="{TPL_PATH}/Index/images/product/t018906b7fe405852c9.jpg" alt="">
                <img src="{TPL_PATH}/Index/images/product/t0197542769c47a1f89.jpg" alt="">
                <img src="{TPL_PATH}/Index/images/product/t015497774500fab593.jpg" alt="">
                <img src="{TPL_PATH}/Index/images/product/t01831309288560a557.jpg" alt="">
                <img src="{TPL_PATH}/Index/images/product/t014180989ffe39e09e.jpg" alt="">
            </div>
        </div>
{include file='Index/include/footer.html'}