{include file='Index/include/header.html'}
        <div class="main">
            <div class="contentwrap">
                <div class="title">我的购物车</div>

                {if count($cartList)==0}
                    <div style="height:320px;line-height:250px;font-size: 48px;text-align:center">购物车空空如也，立即<a style="color:#5CAB00" href="{U('index/allproduct')}">买买买！！</a></div>
                {else}
                <div class="con">
                    <div class="hd">
                        <div class="col1">商品信息</div>
                        <div class="col2">单价</div>
                        <div class="col3">数量</div>
                        <div class="col4">小计</div>
                        <div class="col5">操作</div>
                    </div>
                    <div class="bd">
                        <div class="wrap_row">
                            {foreach from=$cartList key=k item=v}
                            <div class="row">
                                <div class="r1">
                                    <a href="{U('index/product/id/'|cat:{$k})}" target="_blank"><img class="item-img" src="{$v.image}"></a>
                                    <a href="{U('index/product/id/'|cat:{$k})}" target="_blank"><span class="item-name">{$v.gname}</span></a>
                                </div>
                                <div class="r2"><span>{$v.price}</span>元</div>
                                <div class="r3">
                                    <div class="gcIpt">
                                        <a href="javascript:void(0);" class="decrement"></a>
                                        <input type="text" class="goodsCount" disabled="" value="{$v.num}">
                                        <input type="hidden" class="goods_id" value="{$k}">
                                        <input type="hidden" class="stock" value="{$v.stock}">
                                        <a href="javascript:void(0);" class="increment"></a>
                                    </div>
                                    <div class="errTip">已达到最大购买数量</div>
                                </div>
                                <div class="r4"><span>{$v.price*$v.num}</span>元</div>
                                <div class="r5"><a href="javascript:void(0);" class="delOrder">删除</a>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                            {if !empty($cartList)}
                            <a href="javascript:void(0);" id="btn-delCartAll" style="margin-top:15px;float:left">清空购物车</a>
                            {/if}
                    </div>
                    <div class="pay"> 商品总计：<span></span>元</div>
                    <div class="btn">
                        <a href="javascript:history.back(-1);" class="b1">继续购物</a>
                    {if $loginInfo.loginstatus==0}
                        <a href="javascript:void(0)" onclick="userFrame('login','show')" class="b2">去结算</a>
                    {else}
                        <a href="{U('index/order')}" class="b2">去结算</a>
                    {/if}
                    </div>
                </div>

                {/if}
            </div>
        </div>
        <script type="text/javascript">
            <!--
            $(document).ready( function () {
                cartSum();
                function cartSum(){
                    sum=0;
                    count=$(".r4 span").length;
                    for(i=0;i<count;i++){
                        sum+=$(".r4 span:eq("+i+")").html()*1;
                    }
                    $(".pay span").html(sum);
                    if(count==0){
                        $(".b2").hide();
                        $("#btn-delCartAll").hide();
                    }else{
                        $(".b2").show();
                        $("#btn-delCartAll").show();
                    }
                }


                $(".decrement").click(function(){
                    i=$(".decrement").index($(this));
                    goods_id=$(".goods_id:eq("+i+")").val();
                    $(".goodsCount:eq("+i+")").val($(".goodsCount:eq("+i+")").val()*1-1);
                    if($(".goodsCount:eq("+i+")").val()<1){
                        $(".goodsCount:eq("+i+")").val(1);
                    }
                    price=$(".r2 span:eq("+i+")").html();
                    num=$(".goodsCount:eq("+i+")").val();
                    setCart(goods_id,num);
                    $(".r4 span:eq("+i+")").html(price*num);
                    cartSum();
                });

                $(".increment").click(function(){
                    i=$(".increment").index($(this));
                    goods_id=$(".goods_id:eq("+i+")").val();
                    $(".goodsCount:eq("+i+")").val($(".goodsCount:eq("+i+")").val()*1+1);
                    if($(".goodsCount:eq("+i+")").val()>$(".stock:eq("+i+")").val()){
                        $(".goodsCount:eq("+i+")").val($(".stock:eq("+i+")").val());
                        alert('已达到最大购买数量！');
                    }
                    price=$(".r2 span:eq("+i+")").html();
                    num=$(".goodsCount:eq("+i+")").val();
                    setCart(goods_id,num);
                    $(".r4 span:eq("+i+")").html(price*num);
                    cartSum();
                });

                $(".delOrder").click(function(){
                    i=$(".delOrder").index($(this));
                    goods_id=$(".goods_id:eq("+i+")").val();
                    $(".row:eq("+i+")").fadeOut();
                    $.ajax({
                    url: "{U('Index/shopcart/action/del')}",
                    type: 'GET',
                    data:'id='+goods_id,
                    dataType: 'html',
                    timeout: 1000,
                    success: function(html){
                        $(".row:eq("+i+")").remove();
                        cartSum();
                    }
                    });
                });

                $("#btn-delCartAll").click(function(){
                    count=$(".row").length;
                    // alert(count);
                    for(i=count-1;i>=0;i--){
                        goods_id=$(".goods_id:eq("+i+")").val();
                        $.ajax({
                        url: "{U('Index/shopcart/action/del')}",
                        type: 'GET',
                        data:'id='+goods_id,
                        dataType: 'html',
                        timeout: 1000,
                        });
                        $(".row:eq("+i+")").remove();
                    }
                    cartSum();
                });
            });
        </script>
{include file='Index/include/footer.html'}