{include file='Index/include/header.html'}
        <div class="main">
            <div class="contentwrap">
                <div class="title">首页 > 我的试用</div>
                <div class="leftcon">
                    <ul>
                        <span>个人中心</span>
                        <li><a href="{U('index/user')}">个人信息</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">我的优惠券</a></li>
                        <li><a href="{U('index/usertry')}" class="cur">我的试用</a></li>
                        <li><a href="#">试用积分</a></li>
                        <li><a href="#">我的预约</a></li>
                        <li><a href="#">收货地址</a></li>
                    </ul>
                    <ul>
                        <span>消息中心</span>
                        <li><a href="#">评论通知</a></li>
                        <li><a href="#">站内消息</a></li>
                    </ul>
                    <ul>
                        <span>售后服务</span>
                        <li><a href="#">退货记录</a></li>
                        <li><a href="#">换货记录</a></li>
                    </ul>
                </div>
                <div class="rightcon">
                    <div class="con">
                        <a href="#" class="sy">我的试用积分：<em>0</em></a>
                        <h1>我的试用</h1>
                        <div class="list">
                            <div class="c1">试用产品</div>
                            <div class="c2">状态</div>
                            <div class="c3">操作</div>
                        </div>
                    </div>
                    <div class="con" style="margin-top:10px;">
                        <h3>筛选规则</h3>
                        <p>我们在筛选申请的时候，会综合考虑以下方面：</p>
                        <p>1. 用户资料完整度</p>
                        <p>2. 精品报告的作者会优先中签</p>
                        <p>3. 连续参加多期试用活动的活跃用户</p>
                        <p>4. 提出有价值的意见、建议和创意的申请者</p>
                        <p>请认真填写申请，如果你符合以上几个条件，那么你会有很大几率赢得试用资格哦。当然啦，想成为360商城荣誉试用官的申请者较多，运气也是相当重要的原因。祝你好运！</p>
                        <p>想要知道更多关于“筛选”的那点事儿，点击这里 到我们的论坛看看吧。</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
{include file='Index/include/footer.html'}